.dark-theme{
    background-color: var(--bs-dark);
    color: var(--bs-light);
    
}

.light-theme{
    background-color: var(--bs-light);
    color: var(--bg-dark);
}

body {
    transition: background-color 0.5s, color 0.5s;
}

.logo{
    width: 130px;
}